<mat-card>
  <mat-card-header>
    <mat-card-title>Контактная информация</mat-card-title>
  </mat-card-header>
  <mat-card-content style="width: 100%; margin: 0 auto">
    <mat-list role="list" class="app-class">
<h3 mat-card-subtitle  style="margin: 20px; font-size: 1.2em;">Мы находимся по адрессу</h3>
      <mat-list-item><span class="material-icons">
verified
</span>Украина, г. Хмельницкий
      </mat-list-item>
      <mat-list-item ><span class="material-icons">
shopping_basket
</span> mojnolu4she2017@gmail.com</mat-list-item>
      <mat-list-item><span class="material-icons">
request_quote
</span>+38 (098) 048-31-65</mat-list-item>
    </mat-list>
    <h3 mat-card-subtitle style="margin: 20px; font-size: 1.2em">Вы также можете связаться с нами и задать вопросы в нашей группе Facebook</h3>
    <div id="fb-root">
      <div fxShow fxHide.lt-sm="true" fxHide.gt-xs="false" style="margin: 40px">
        <div class="fb-page" data-href="https://www.facebook.com/mastericon2006/" data-tabs="timeline" data-width="500px" data-height="600px"
             data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/mastericon2006/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/mastericon2006/">Икона Подарок</a>
          </blockquote>
        </div>
      </div>
      <div fxShow fxHide.lt-sm="false" fxHide.gt-xs="true">
        <div class="fb-page" data-href="https://www.facebook.com/mastericon2006/" data-tabs="timeline" data-width="320px" data-height="600px"
             data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/mastericon2006/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/mastericon2006/">Икона Подарок</a>
          </blockquote>
        </div>
      </div>
    </div>


  </mat-card-content>
</mat-card>
