<mat-card>
  <mat-card-header>
    <mat-card-title>Как купить?</mat-card-title>
  </mat-card-header>
  <mat-card-content >

    <mat-list role="list" class="app-class">
      <mat-list-item ><span class="material-icons">
shopping_basket
</span>  Вы можете приобрести любую икону на нашем сайте</mat-list-item>
      <mat-list-item><span class="material-icons">
check_box
</span>Если икона помеченна, как есть "в наличии", вы можете приобрести ее сразу через мгновенную оплату или
      наложенным платежом. Мы вышлем вам ее сразу.</mat-list-item>
      <mat-list-item><span class="material-icons">
indeterminate_check_box
</span>Если икона помеченна, как "нет в наличии", вы можете ее заказать</mat-list-item>
      <mat-list-item><span class="material-icons">
event_note
</span>Нажмите заказать. Далее оставьте ваши контактные данные</mat-list-item>
      <mat-list-item><span class="material-icons">
phone_in_talk
</span>Мы связываемся с вами для уточнения деталей</mat-list-item>
      <mat-list-item><span class="material-icons">
schedule
</span>Заказ выполняется в течении двух недель. Это время необходимое для изготовления иконы</mat-list-item>
      <mat-list-item><span class="material-icons">
group
</span>Мы вам доверяем и не требуем с Вас предоплаты.</mat-list-item>
      <mat-list-item><span class="material-icons">
local_shipping
</span>Мы доставляем посылку по вашему адресу</mat-list-item>
      <mat-list-item><span class="material-icons">
monetization_on
</span>Вы получаете икону и оплачиваете ее на месте</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
