<mat-card>
  <mat-card-header>
    <mat-card-title>Гарантии</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <mat-list role="list" class="app-class">
      <mat-list-item ><span class="material-icons">
insert_emoticon
</span>  Мы заботимся о своей репутации, довольные клиенты для нас - на первом месте!</mat-list-item>
      <mat-list-item><span class="material-icons">
verified
</span>Мы являемся производителями товара, поэтому наша продукция проходит все этапы проверки качества в процессе производства.
        </mat-list-item>
      <mat-list-item ><span class="material-icons">
shopping_basket
</span> Перед отправкой товара мы его тщательно проверяем. </mat-list-item>
      <mat-list-item><span class="material-icons">
request_quote
</span>Цены от производителя.</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
