//Код взял с https://icons8.com/cssload/ru/

#fountainTextG{
  width:330px;
  margin:auto;
}

.fountainTextG{
  color:rgb(0,0,0);
  font-family:Arial;
  font-size:34px;
  text-decoration:none;
  font-weight:normal;
  font-style:normal;
  float:left;
  animation-name:bounce_fountainTextG;
  -o-animation-name:bounce_fountainTextG;
  -ms-animation-name:bounce_fountainTextG;
  -webkit-animation-name:bounce_fountainTextG;
  -moz-animation-name:bounce_fountainTextG;
  animation-duration:1.731s;
  -o-animation-duration:1.731s;
  -ms-animation-duration:1.731s;
  -webkit-animation-duration:1.731s;
  -moz-animation-duration:1.731s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  transform:scale(.5);
  -o-transform:scale(.5);
  -ms-transform:scale(.5);
  -webkit-transform:scale(.5);
  -moz-transform:scale(.5);
}#fountainTextG_1{
   animation-delay:0.6125s;
   -o-animation-delay:0.6125s;
   -ms-animation-delay:0.6125s;
   -webkit-animation-delay:0.6125s;
   -moz-animation-delay:0.6125s;
 }
#fountainTextG_2{
  animation-delay:0.739s;
  -o-animation-delay:0.739s;
  -ms-animation-delay:0.739s;
  -webkit-animation-delay:0.739s;
  -moz-animation-delay:0.739s;
}
#fountainTextG_3{
  animation-delay:0.8655s;
  -o-animation-delay:0.8655s;
  -ms-animation-delay:0.8655s;
  -webkit-animation-delay:0.8655s;
  -moz-animation-delay:0.8655s;
}
#fountainTextG_4{
  animation-delay:0.992s;
  -o-animation-delay:0.992s;
  -ms-animation-delay:0.992s;
  -webkit-animation-delay:0.992s;
  -moz-animation-delay:0.992s;
}
#fountainTextG_5{
  animation-delay:1.1085s;
  -o-animation-delay:1.1085s;
  -ms-animation-delay:1.1085s;
  -webkit-animation-delay:1.1085s;
  -moz-animation-delay:1.1085s;
}
#fountainTextG_6{
  animation-delay:1.235s;
  -o-animation-delay:1.235s;
  -ms-animation-delay:1.235s;
  -webkit-animation-delay:1.235s;
  -moz-animation-delay:1.235s;
}
#fountainTextG_7{
  animation-delay:1.3615s;
  -o-animation-delay:1.3615s;
  -ms-animation-delay:1.3615s;
  -webkit-animation-delay:1.3615s;
  -moz-animation-delay:1.3615s;
}
#fountainTextG_8{
  animation-delay:1.478s;
  -o-animation-delay:1.478s;
  -ms-animation-delay:1.478s;
  -webkit-animation-delay:1.478s;
  -moz-animation-delay:1.478s;
}




@keyframes bounce_fountainTextG{
  0%{
    transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-o-keyframes bounce_fountainTextG{
  0%{
    -o-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -o-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-ms-keyframes bounce_fountainTextG{
  0%{
    -ms-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -ms-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-webkit-keyframes bounce_fountainTextG{
  0%{
    -webkit-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -webkit-transform:scale(.5);
    color:rgb(255,255,255);
  }
}

@-moz-keyframes bounce_fountainTextG{
  0%{
    -moz-transform:scale(1);
    color:rgb(0,0,0);
  }

  100%{
    -moz-transform:scale(.5);
    color:rgb(255,255,255);
  }
}
