<mat-card>
  <mat-card-header>
    <mat-card-title>О нас</mat-card-title>
  </mat-card-header>
  <mat-card-content >
    <mat-list role="list" class="app-class">
      <mat-list-item ><span class="material-icons">
star_border
</span> Студия "Майстер Икон" изготавливает иконы под окладом, писанные, в рамках из натурального дерева.</mat-list-item>
      <mat-list-item ><span class="material-icons">
biotech
</span> Полированные оклады покрыты благородными металлами (Ag, Au).
        Иконы пишут великолепные мастера, имеющие многолетний опыт и уникальную технику.</mat-list-item>
      <mat-list-item><span class="material-icons">
palette
</span>При написании используются маслянные и темперные краски.
      </mat-list-item>
      <mat-list-item ><span class="material-icons">
crop_din
</span> Деревянная рама тонируется с последующей лакировкой.</mat-list-item>
      <mat-list-item><span class="material-icons">
pan_tool
</span>На всех стадиях изготовления икон используется ручная обработка. Поэтому каждая икона уникальна и сделана с душой.</mat-list-item>
    <mat-list-item><span class="material-icons">
people_outline
</span>В зависимости от Ваших пожеланий студия дает возможность индивидуального подхода к заказу (фрагменты позолоты, цвет рамы).
      А также возможность реставрации уже приобретенных икон.</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
