footer {
  height: 60px;
  background-color: #55637d;
  width: 100%;
}
.content-footer {
  height: 160px;
  background-color: #DCDCDC;
  color: black;
  border: 0 solid #DCDCDC;

}
.content-contacts {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h4 {
  margin: 10px 0;
  text-align: center;
}
.content-contacts_list {
  list-style: none;
  margin: 0;
}
.content-contacts_list-link {
  background-color: #DCDCDC;
  color: black;
  border: 0 solid #DCDCDC;
}
