
<div class="content-footer">
  <div class="footer-wrapper" id="footer">
    <div itemscope itemtype="http://schema.org/Organization" class="content-contacts">
      <div style="display: flex; flex-direction: row; justify-content: flex-start">
        <div>
          <h4>Контактная информация</h4>
          <ul itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="content-contacts_list">
            <li><a href="tel:+380978972374" class="content-contacts_list-link"><span itemprop="telephone">+38 (098) 048-31-65</span></a></li>
            <li><a href="mailto:mojnolu4she2017@gmail.com" class="content-contacts_list-link">mojnolu4she2017@gmail.com</a></li>
            <li class="content-contacts_list-link"><span itemprop="streetAddress">Украина, г. Хмельницкий</span></li>
          </ul>
        </div>

        <div style="display: flex; align-items: center">
          <a href="https://www.facebook.com/mastericon2006/">
            <img style="width: 32px; margin-left: 10px" src="https://img.icons8.com/color/48/000000/facebook-circled.png"/>
          </a>
          <a href="viber://chat?number=%2B380989276870">
            <img style="width: 32px; margin-left: 10px"  src="https://img.icons8.com/color/32/000000/viber.png"/>
          </a>
        </div>
      </div>
<div></div>

    </div>

  </div>

</div>
