<div *ngIf="icons; else loading">

  <!-- Поиск по названию-->

  <mat-form-field>
    <mat-label>Поиск</mat-label>
    <label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Поиск по названию">
    </label>
  </mat-form-field>

  <!-- Таблица-->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Фотография-->

    <ng-container matColumnDef="img" >
      <th mat-header-cell *matHeaderCellDef style="padding-left: 40px"> Фото </th>
      <td mat-cell *matCellDef="let element" style="width: 100px">
        <img class="microImage distance" src="{{element.img}}" alt="" >
        <div *ngIf="element.pairs" class>
          <img class="microImage" src="{{element.img[0]}}" alt="">
        </div>
      </td>
    </ng-container>

    <!-- Код товара -->

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Код</th>
      <td mat-cell *matCellDef="let element" class="codeCell"> хм-{{+element.code}}</td>
    </ng-container>

    <!-- Название иконы -->

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left: 20px"> Название иконы </th>
      <td mat-cell *matCellDef="let element" style="width: auto; padding: 0 20px">
        <input class="title" matInput name="{{element.id}}" (blur)="titleChange($event)"  value="{{element.title}}">
      </td>
    </ng-container>

    <!-- Ценв товара -->

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Цена в гривнах </th>
      <td mat-cell *matCellDef="let element" class="priceCell">
        <input matInput name="{{element.id}}" (blur)="priceChange($event)"  value="{{element.price | currency:'UAH':''}}">
      </td>
    </ng-container>

    <!-- Наличие -->

    <ng-container matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef> Наличие </th>
      <td mat-cell *matCellDef="let element" class="awailCell"> <mat-slide-toggle color="primary" name="{{element.id}}" [checked]="element.available" (change)="onChange($event)"> </mat-slide-toggle>  </td>
    </ng-container>

    <!-- Правка -->

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Редактировать </th>
      <td mat-cell *matCellDef="let element" class="editCell">
        <button mat-stroked-button color="basic" class="btn-edit" [routerLink]="['/admin', 'icon', element.id, 'edit']"><span class="material-icons">
add_a_photo
</span></button>
        <a (click)="remove(element.id)" color="warn" mat-stroked-button><span class="material-icons">delete</span></a></td>
    </ng-container>

    <!-- Headers -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginatoR [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>

</div>

<ng-template #loading>
  <div style="margin-top: 60px">
    <app-load-spinner></app-load-spinner>
  </div>

</ng-template>


